<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
  {{ if .Title }}
    {{ .Title }} | {{ .Site.Title }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
  </title>

  <meta name="description" content="{{ if .Description }}{{- .Description -}}{{ else }}{{ .Site.Params.description }}{{ end }}">

  {{ $sass := resources.Get "main.scss"  }}
  {{ $style := $sass | resources.ToCSS  }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"  integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous"></script>

  <script type="text/javascript">
   window.MathJax = {
     {{ if or .Params.mathjaxEnableSingleDollar (and .Site.Params.mathjaxEnableSingleDollar (ne .Params.mathjaxEnableSingleDollar false)) -}}
     tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
     {{ end }}
     {{ if or .Params.mathjaxEnableAutoNumber (and .Site.Params.mathjaxEnableAutoNumber (ne .Params.mathjaxEnableAutoNumber false)) -}}
     TeX: {equationNumbers: {autoNumber: "AMS"}},
     {{ end }}
     showProcessingMessages: false,
     messageStyle: 'none'
   };
  </script>
</head>
